@font-face {
  font-family: "DTMF";
  src: url(/fonts/dtmf.otf);
}

body {
  font-family: "DTMF", sans-serif;
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  background-color: rgb(65, 147, 197);
  color: #f0f0f0;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  color: white;
  text-decoration: none;

  &:visited {
    color: white;
    background-color: white;
  }
}
